@charset "UTF-8";
*, *:before, *:after {
    box-sizing: border-box; }

html, body {
    min-height: 100%; }

::selection {
    background: none; }

body {
    display: flex;
    align-items: center;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 18px;
    overflow-x: hidden; }

main {
    display: none; }

.pokemon {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    align-content: center;
    justify-content: center;
    width: 100vw;
}


.pokemon > div {
    position: relative;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    justify-content: center;
    width: calc(100vw / 10);
    height: calc(100vw / 10);
    overflow: hidden;
    background: #f1f1f1;
}

.pokemon > div:before, .pokemon > div:after, .pokemon > div div:before, .pokemon > div div:after {
    content: "";
    display: block; }

#charizard {
    background: linear-gradient(to bottom, #f1633c 9.77%, #f4af63 9.77%); }
#charizard:before, #charizard:after {
    width: 22.27%;
    height: 9.87%;
    background: #f9b365; }
#charizard:before {
    left: 11.33%; }
#charizard:after {
    right: 11.33%; }
#charizard:before, #charizard:after {
    position: absolute;
    top: 0; }
#charizard > div:nth-child(1) {
    position: absolute;
    top: 25.39%;
    width: 26.95%;
    height: 18.36%;
    background: white; }
#charizard > div:nth-child(1):before {
    position: absolute;
    width: 21.74%;
    height: 63.83%;
    background: white;
    z-index: 1; }
#charizard > div:nth-child(1):after {
    position: absolute;
    top: 0;
    width: 21.74%;
    height: 87.23%;
    background: #1e2a2e; }
#charizard > div:nth-child(1) div {
    position: relative;
    width: 100%;
    height: 100%;
    background: #2b3c42; }
#charizard > div:nth-child(1) div:before {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 21.28%;
    background: #3c565d; }
#charizard > div:nth-child(2) {
    position: absolute;
    top: 25.39%;
    width: 26.95%;
    height: 18.36%;
    background: white; }
#charizard > div:nth-child(2):before {
    position: absolute;
    width: 21.74%;
    height: 63.83%;
    background: white;
    z-index: 1; }
#charizard > div:nth-child(2):after {
    position: absolute;
    top: 0;
    width: 21.74%;
    height: 87.23%;
    background: #1e2a2e; }
#charizard > div:nth-child(2) div {
    position: relative;
    width: 100%;
    height: 100%;
    background: #2b3c42; }
#charizard > div:nth-child(2) div:before {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 21.28%;
    background: #3c565d; }
#charizard > div:nth-child(1) {
    left: 8.6%; }
#charizard > div:nth-child(2) {
    right: 8.6%; }
#charizard > div:nth-child(1) {
    clip-path: polygon(0 0, 100% 100%, 0 100%); }
#charizard > div:nth-child(2) {
    clip-path: polygon(100% 0, 100% 100%, 0 100%); }
#charizard > div:nth-child(1) {
    padding-left: 7.81%; }
#charizard > div:nth-child(2) {
    padding-right: 7.81%; }
#charizard > div:nth-child(2) {
    padding-left: 3.91%; }
#charizard > div:nth-child(1) {
    padding-right: 3.91%; }
#charizard > div:nth-child(1):before {
    left: 44.93%; }
#charizard > div:nth-child(2):before {
    right: 44.93%; }
#charizard > div:nth-child(1):after {
    left: 44.93%; }
#charizard > div:nth-child(2):after {
    right: 44.93%; }
#charizard > div:nth-child(3) {
    position: absolute;
    top: 30.08%;
    left: 35.55%;
    width: 28.9%;
    height: 19.53%;
    display: flex;
    justify-content: space-between; }
#charizard > div:nth-child(3):before, #charizard > div:nth-child(3):after {
    width: 9.46%;
    height: 70%;
    background: #e7a660; }
#charizard > div:nth-child(3):before, #charizard > div:nth-child(3):after {
    position: relative;
    top: 0; }
#charizard > div:nth-child(3) div {
    position: absolute;
    left: 23%;
    bottom: 0;
    width: 54%;
    height: 30%;
    display: flex;
    justify-content: space-between; }
#charizard > div:nth-child(3) div:before, #charizard > div:nth-child(3) div:after {
    width: 15%;
    height: 100%;
    background: #d09454; }
#charizard > div:nth-child(3) div:before, #charizard > div:nth-child(3) div:after {
    position: relative;
    top: 0; }
#charizard > div:nth-child(4) {
    position: absolute;
    top: 62.5%;
    left: 5.86%;
    width: 88.28%;
    height: 24.22%;
    background: #a77191;
    padding: 13.67% 7.81% 0; }
#charizard > div:nth-child(4):before, #charizard > div:nth-child(4):after {
    width: 11.5%;
    height: 40.32%;
    background: white; }
#charizard > div:nth-child(4):before {
    left: 4.42%; }
#charizard > div:nth-child(4):after {
    right: 4.42%; }
#charizard > div:nth-child(4):before, #charizard > div:nth-child(4):after {
    position: absolute;
    top: 0; }
#charizard > div:nth-child(4) div {
    position: relative;
    width: 100%;
    height: 100%;
    background: #cb98c0; }
#charizard > div:nth-child(4) div:before, #charizard > div:nth-child(4) div:after {
    width: 11.29%;
    height: 55.56%;
    background: white; }
#charizard > div:nth-child(4) div:before {
    left: 6%; }
#charizard > div:nth-child(4) div:after {
    right: 6%; }
#charizard > div:nth-child(4) div:before, #charizard > div:nth-child(4) div:after {
    position: absolute;
    bottom: 0; }
